html,body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.el-pagination {
  margin-top: 15px;
}
.el-table-column {
  text-align: center;
}
.el-cascader-panel {
  height: 200px;
  overflow: auto;
}
.el-tag {
  margin: 10px;
}
.input-new-tag {
  width: 120px;
}